﻿@using System.Security.Claims
@{
    ViewData["Title"] = "Update";
}

@model PostViewModel

@section Scripts
{
    @await Html.PartialAsync("_ValidationScriptsPartial");
}

<div class="row p-4 mt-4">
    <div class="col bg-light rounded-3 shadow pt-4 px-4">
        <div class="col d-flex align-items-center justify-content-between p-2">
        <h4>Yeni Yazı</h4>
            <div class="d-flex align-items-center justify-content-end mt-2 gap-2">
                <form asp-controller="Post" asp-action="Delete" method="post">
                    <input type="hidden" asp-for="@Model.Id" value="@Model.Id" name="postId" />
                    <button type="submit" class="btn btn-danger">Sil</button>
                </form>
                @if(User.HasClaim(x => x.Type == ClaimTypes.Role && x.Value =="admin"))
                {
                    <form asp-controller="Post" asp-action="DeletePermanently" method="post">
                        <input type="hidden" asp-for="@Model.Id" value="@Model.Id" name="postId" />
                        <button type="submit" class="btn btn-warning">Kalıcı Sil</button>
                    </form>
                }
            </div>
        </div>
        <hr />
        <div class="row">
            <form asp-controller="Post" asp-action="Update" method="post">

                <input type="hidden" asp-for="@Model.Creator.Id" value="@ViewBag.CurrentUserId" name="CreatorId" />
                <input type="hidden" asp-for="@Model.Id" value="@Model.Id" name="Id" />
                <div class="row">
                    <div class="col-md-7 py-4">
                        <div class="form-group d-flex flex-column gap-2">
                            <label asp-for="Content" class="fw-bold">İçerik</label>
                            <hr />
                            <textarea id="tiny" name="Content" asp-for="Content" class="form-control ckeditor"></textarea>
                            <span asp-validation-for="Content" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-5 py-4">
                        <div class="">
                            <p class="fw-bold pb-2">Diğer Alanlar</p>
                        </div>
                        <hr />
                        <div class="form-group">
                            <div class="d-flex gap-2 align-items-center justify-content-center mt-2">
                                <label asp-for="Title" class="create-form-label fw-bold">Başlık</label>
                                <input asp-for="Title" name="Title" class="form-control" />
                            </div>
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                        <div class="form-group mt-3">
                            <div class="d-flex gap-2 align-items-center justify-content-center">
                                <label asp-for="Image" class="create-form-label fw-bold"></label>
                                <input asp-for="Image" name="Image" class="form-control" />
                            </div>
                            <span asp-validation-for="Image" class="text-danger"></span>
                        </div>
                        <div class="form-group mt-3">
                            <div class="d-flex gap-2 align-items-center justify-content-center">
                                <label asp-for="@Model.Category.Id" class="create-form-label fw-bold">Kategori</label>
                                <input asp-for="@Model.Category.Id" name="CategoryId" value="@Model.Category.Name" readonly class="form-control" />
                            </div>
                            <span asp-validation-for="@Model.Category.Id" class="text-danger"></span>
                        </div>
                        <div class="mt-4">
                            <p class="text-justify">Oluşturduğunuz yazı, <span class="fw-bold text-primary">yöneticiniz</span> ya da <span class="fw-bold text-primary">Uygulama Yöneticisi</span> tarafından onaylanmadan yayına alınmayacaktır.</p>
                        </div>
                        <div class="d-flex align-items-center justify-content-between mt-3">
                            <div class="form-group">
                                <div class="d-flex align-items-center justify-content-center gap-4">
                                    <label asp-for="@Model.IsSubscriberOnly" class="create-form-label text-warning-0 fw-bolder">Abonelere Özel</label>
                                    <input type="checkbox" name="IsPrivateOnly" asp-for="@Model.IsSubscriberOnly" class="form-check-input">
                                </div>
                                <span asp-validation-for="@Model.IsSubscriberOnly" class="text-danger"></span>
                            </div>
                            <button type="submit" class="btn btn-primary">Oluştur</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
